<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CandyCoin</title>
</head>

<body>
    <div style=" margin: auto; width: 100%; text-align: center; ">
        <a href="https://candycoin.com/shop">
            <img src="https://static.candycoin.com/assets/save-10-off-email.png" alt="SAVE10" />
        </a>
    </div>
</body>

</html>