<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CandyCoin</title>
</head>

<style>
    html,body {
        height: 100%;
    }
    body {
        padding: 0;
        margin: 0;
        font-family: sans-serif;
    }
     .cc-contact-info-table td {
        border: solid 1px #f55564;
        border-top-width: 0;
        border-left-width: 0;
    }
    .cc-contact-info-table tr td:last-child {
        border-right: none;
    }
    .cc-contact-info-table tbody tr:last-child td {
        border-bottom: none;
    }
</style>

<body>
    <table
        style="background-image:url('https://candycoin.com/assets/images/candy-email-bg.png'); background-repeat: no-repeat;width: 1000px; height: 100%; margin: 0 auto;background-size: cover;padding-bottom: 15px;">
        <tr>
            <td>
                <table style="width: 100%;min-width: 100%; margin: auto; text-align: center;">
                    <tr>
                        <td style="text-align: center">
                            <img src="https://candycoin.com/assets/images/logo.png"
                                style="width: 165px;margin-top: 20px;" alt="" />
                        </td>
                    </tr>
                </table>